@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Playpen+Sans:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Playpen+Sans:wght@100;200;300;400&display=swap');

$light-background:rgb(67, 180, 220);
$dark-text:rgb(0, 89, 116);
$light-text:rgb(207, 248, 255);
$dark-background:rgb(0, 27, 35);
$default:rgb(0, 4, 5);
$anchgor-text:rgb(0, 106, 138);


*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body{
    background-color: $dark-background;
    color: $light-text;
    font-family: nunito;
    a{
        color: $light-text;
    }
    .border{
        border-color: $light-text;
    }
    .preloader{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(22,21,25);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 50;
        flex-direction: column;
    }
    .loading{
        transform: translateY(-30px);
    }
    .preloader-image{
        height: 200px;
        width: 200px;
    }

}
.hello, .creative{
    color: rgb(207, 248, 255);
}

.download{
     background-color:$default;
     color: $light-text !important;
    }
    .download:hover{
        color: $dark-text !important;
        
}
.hire{
    background-color: greenyellow;
    color: black !important;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    text-shadow: -1px 1px 20px rgb(0, 0, 0);
    overflow: hidden;
}
.arrow-animate{
    animation: arrow-animate 1s ease-in-out infinite ;
    text-shadow: -1px 1px 20px rgb(0, 0, 0);
    color: rgb(15, 15, 15);
    border-radius: 50%;
    padding: 7px;
}
@keyframes arrow-animate {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(6px);
    }
    100%{
        transform: translateX(0);
    }
}
// floating buttons

.comment{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    height: 45px;
    width: 45px;
    
}
.dinesh{
    background-image: linear-gradient(to bottom,rgb(0, 149, 255),rgb(0, 247, 214));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 1000;
    font-size: 11vw;
}
.fa-lightbulb,.fa-code:not(.code)
{
    font-size: 30px;
}

.dinesh-glass{
    display: none;
}
.dinesh-img{
    height: 25rem;
    padding: 30px;
}
.about-title,.experience-title,.skills-title,.projects-title,.education-title,.contact-title{
    background-color: $default;
    padding: 10px;
    color: $light-text !important;
}
.whole-nav{
    display: none;
    background-color: $default;
    position: sticky;
    top: 0;
    z-index: 10;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-spinner {
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid #0091f1;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.row1{
    height: 97vh;
    background-image: url("assets/wp level2.png");
    background-size: 100 200;
    background-position: bottom right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.profile{
    height: 450px;
    width: 100%;
    position: relative;
    overflow: hidden;
    .img2{
        width: 350px;
        position: absolute;
        top: 20%;
        left: 10%;
        // transform: translate(-50%,-50%);
        transform: skew(12deg,5deg);
        
    }
    .img1{
        height: 450px;
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(-50%,-50%);
    }
    
}
.social{
    a{ 
        img{
            height: 35px;
            width: 35px;
            margin: 0 6px;
        }
        img:hover{
            transform: scale(1.2);
            transition-duration: 100ms;
            transition-timing-function: ease-in-out;
            
        }
        .mail{
            background-color: white;
            border-radius: 8px;
            padding: 4px;
        }
    }
}
@for $i from 1 through 3 {
    .dummy:nth-child(#{$i})::before {
        box-shadow: 1px 1px 3px black;
        content: "";
        width: 100%;
        height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      @if $i == 1 {
          background-color: rgb(255, 18, 18);
        } @else if $i == 2 {
            background-color: rgb(255, 255, 0);
        } @else if $i == 3 {
            background-color: rgb(0, 216, 0);
        }
    }
}
.dummy{
    position: relative;
    width: 16px;
    height: 16px;
    margin: 8px 1px;
}
.education{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cursor-image{
    display: none;
}
.about{
    border:  -4px 4px 10px solid rgb(255, 255, 255) !important;
    // box-shadow: -4px 4px 10px rgb(77, 77, 77);
}
.animate{
    width: 100%;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.my-atropos{
    display: flex;
    align-items: center;
    width: 100%;
    height:100%;
    border-radius: 20px;
}
.images{
    position: relative;
    width: 105%;    box-shadow: 5px 5px 15px rgb(214, 170, 255);
    height: 100%;
    border-radius: 20px;
}
.atropos-inner{
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.images>img{
    border-radius: 20px;
    width: 110%;
    position: absolute;
    top: 0;
    left: 0;
}
.heading a{
    background-color: $default;
    box-shadow: -1px 1px 3px black;
    color: $light-text !important ;
}
 .heading a:hover{
    background-color: $light-background;
    color: $dark-text;
 }
.skill{
    img{
        width: 88px;
        margin: 20px;
    }
    img:hover{
        transform: scale(1.2);
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
    }
}
input,textarea{
    outline: none;
    box-shadow: none;
    color: white !important;
    caret-color: white;
}
.intro-image{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
::placeholder{
    color: rgb(255, 255, 255);
    font-weight: 800;
} 
.role{
    a:last-child{
        background-color: $default;
        color: $light-text !important;
        padding: 10px !important;
    }
}  
.pro{
    .project{
        box-shadow: -4px 4px 12px rgb(17, 17, 17);
        border-radius: 10px;
        color: $light-text;
        border: 1px solid rgb(92, 92, 92);
        padding: 15px;
        background-color: $default;
    }
    
    .project:hover{
        transition: 250ms;
        transform: scale(1.03);
        transform-origin: center;
    }
    .desc{
        overflow: hidden;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    .name{
        overflow: hidden;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;

    }
}
.portfolio-text{
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    writing-mode: vertical-lr;
    font-size: 120px;
    opacity: 0.2;
    top: 0;
    left: 0;
    transform: rotate(180deg);
    transform-origin: center;
    font-weight: 900;
    color: antiquewhite;
}

// timeline 

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    font-weight: 800;
    text-shadow: -1px 1px 1px black;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(0, 105, 150);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .contain {
    padding: 10px 40px;
    position: relative;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .contain::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(0, 205, 242);
    border: 4px solid #ffffff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    background-color: $default;
    padding: 20px 30px;
    position: relative;
    border: 1px solid rgb(120, 120, 120);
    border-radius: 6px;
    h1{
        color: $light-text;
    }
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .contain {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .contain::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 18px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
.contact{
    background-position: left;
    background-size: left center;
    background-image: url("assets/gray-digital-metallic-grunge-triangles-pattern-wallpaper-2560x1080_14.jpg");
}










@media only screen and (min-width:720px){
    
    .portfolio-text{
        position: absolute;
        font-family: 'Josefin Sans', sans-serif;
        writing-mode: vertical-lr;
        font-size: 170px;
        opacity: 0.2;
        top: 0;
        left: 0;
        transform: rotate(180deg);
        transform-origin: center;
        font-weight: 900;
    }
    
    .profile{
        height: 100%;
        width: 100%;
        .img1{
            height: 750px !important;
            position: absolute;
            top: 50%;
            left: 60%;
            transform: translate(-50%,-50%);
        }
    }
    .dinesh-img{
        height: 600px !important;
        // width: 700px;
    }
    .dinesh{
        background-image: linear-gradient(to bottom,rgb(112, 195, 255),rgb(112, 255, 236));
        font-size: 4vw;
    }
    .heading{
        a{
            font-size: 25px;
        }
    }
    .cursor-image{
        // display: block;
        width: 30px;
        height: 30px;
        background-color: rgba(255, 255, 255, 0.224);
        border: 1px solid white;
        border-radius: 50%;
        position: absolute;
        top: -100px;
        left: 0;
        z-index: 20;
        transition-timing-function: ease-in-out;
        transition: 10ms;
    }
    .profile .img2{
        width: 350px;
        position: absolute;
        top: 20%;
        left: 20%;
    }
    
        .animate{
            width: 100%;
            height: 450px !important;
            border-radius: 30px !important;
    }
}
@media (min-width: 420px) and (max-width: 450px) {
    .dinesh-glass{
        display: block;
        transition-timing-function: linear;
        transition-duration: 1s;
        position: absolute;
        height: 50px;
        top: 26%;
        left: 40.2%;
        rotate: 1.5deg;
    }
    
  }
          